# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

#
# The above will handle all files NOT found below
#
*.c   text eol=lf
*.cc  text eol=lf
*.cxx text eol=lf
*.cpp text eol=lf
*.c++ text eol=lf
*.hpp text eol=lf 
*.h   text eol=lf
*.h++ text eol=lf
*.hh  text eol=lf

*.sh  text eol=lf
